.login {
    display: flex;
    justify-content: center;
    animation: appear 0.5s forwards;
    height: 100vh;
}

.form {
    &__remember {
        display: flex;
        column-gap: 7.5px;
        margin-left: 2.5px;
        cursor: pointer;
        font-size: 20px;

        &__checkbox {
            position: relative;
            width: 25px;
            aspect-ratio: 1 / 1;
            border: 1px solid var(--color-text);
            box-shadow: var(--box-shadow);
            border-radius: 2.5px;
            transition: 0.2s;

            svg {
                fill: var(--color-background);
                position: absolute;
                left: -3px;
                top: -3px;
            }
        }

        &__text {
            user-select: none;
        }
    }

    &__forgot-password {
        margin: 0;
        align-self: center;
        color: var(--color-text-additional);
        text-decoration: underline;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            color: var(--color-text);
        }
    }
}

.checkbox-active {
    background-color: var(--color-text);
    border: 1px solid var(--color-text);
}