.login {
    display: flex;
    justify-content: center;
    animation: appear 0.5s forwards;
}

.form {
    &__remember {
        display: flex;
        column-gap: 7.5px;
        margin-left: 2.5px;
        cursor: pointer;
        color: var(--color-text);

        &__checkbox {
            position: relative;
            width: 20px;
            aspect-ratio: 1 / 1;
            border: 1px solid rgb(71, 71, 71);
            border-radius: 5px;
            transition: 0.3s;

            &:hover {
                border: 1px solid var(--color-text);
            }

            svg {
                position: absolute;
                left: -3px;
                top: -3.5px;
            }
        }

        &__text {
            user-select: none;
        }
    }

    &__forgot-password {
        margin: 0;
        align-self: center;
        color: var(--color-text-additional);
        text-decoration: underline;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            color: var(--color-text);
        }
    }
}

.active {
    background-color: var(--color-text);
    border: 1px solid var(--color-text);
}