.register {
  display: flex;
  justify-content: center;
  animation: appear 0.5s forwards;
}
.register__already-registered {
  align-self: center;
  margin: 5px;
  color: var(--color-text);
}
.register__log-in {
  color: var(--color-text-additional);
  text-decoration: underline;
  transition: 0.3s;
}
.register__log-in:hover {
  color: var(--color-text);
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 25px 30px;
  background-color: var(--color-block);
}
.form__input {
  width: 100%;
  font-family: var(--font-family);
  font-size: 20px;
  padding: 10px 15px;
  border-radius: var(--border-radius);
  outline: none;
  border: 1px solid var(--color-border);
  background-color: var(--color-block);
  color: var(--color-text);
  transition: 0.3s;
}
.form__input:focus {
  border: 1px solid var(--color-text);
}
.form__input-wrapper {
  position: relative;
}
.form__input-wrapper svg {
  position: absolute;
  right: 12.5px;
  top: 11px;
  cursor: pointer;
}
.form__eye {
  fill: var(--color-text-additional);
}
.form__advice {
  opacity: 0;
  display: flex;
  flex-direction: column;
  row-gap: 7.5px;
  font-size: 14px;
  font-weight: 300;
  padding: 13px 22.5px 13px 10px;
  position: absolute;
  background-color: var(--color-block);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  top: -35px;
  right: -220px;
  z-index: 20;
  transition: 0.3s;
  color: var(--color-text);
}
.form__advice__condition {
  position: relative;
  display: flex;
}
.form__advice__condition p {
  margin: 0;
  margin-left: 25px;
}
.form__advice__svg {
  left: 0;
  margin-top: -15px;
}
.form__placeholder {
  position: absolute;
  background-color: var(--color-block);
  padding-inline: 5px;
  top: -19px;
  left: 12.5px;
  font-size: 12.5px;
  color: var(--color-text-additional);
  z-index: 10;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.form__button {
  font-size: 20px;
  font-weight: 300;
  color: var(--color-text);
  background-color: var(--color-button);
  border: 1px solid var(--color-border);
  padding: 12.5px;
  border-radius: var(--border-radius);
  margin-top: 5px;
  transition: 0.3s;
}
.form__button:hover {
  background-color: var(--color-border);
  box-shadow: var(--box-shadow);
}

.form-header {
  font-size: 25px;
  font-weight: 300;
  padding: 17.5px 22.5px;
  color: var(--color-text);
  background-color: var(--color-block);
  border-bottom: 1px solid var(--color-border);
}

.form-wrapper {
  margin-top: 65px;
  width: 30%;
  border-radius: var(--border-radius);
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
}

.show {
  right: -210px;
  opacity: 1;
}

.error {
  border: 1px solid red;
}

.info {
  color: var(--color-text);
  margin: 0;
}

.repeat {
  margin: 3px;
  color: var(--color-text-additional);
  text-decoration: underline;
  transition: 0.3s;
  align-self: center;
  cursor: pointer;
}
.repeat:hover {
  color: var(--color-text);
}

.extra {
  margin: 0;
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=Register.css.map */