.register {
  display: flex;
  justify-content: center;
  animation: appear 0.5s forwards;
  height: 100vh;
}
.register__already-registered {
  align-self: center;
  margin: 5px;
  color: var(--color-text);
}
.register__log-in {
  text-decoration: underline;
  color: var(--color-text);
  transition: 0.3s;
}
.register__log-in:hover {
  color: var(--color-hover);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
  padding: 25px 30px;
}
.form__container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.form__input {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 600;
  padding: 25px 15px 15px 15px;
  outline: none;
  border: none;
  border-bottom: 1.5px solid var(--color-text);
  background-color: var(--color-background);
}
.form__input-wrapper {
  position: relative;
}
.form__input-wrapper svg {
  position: absolute;
  right: 15px;
  top: 19px;
  cursor: pointer;
}
.form__eye {
  fill: var(--color-text);
}
.form__advice {
  width: 180px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  row-gap: 7.5px;
  font-size: 20px;
  padding: 13px 22.5px 13px 10px;
  position: absolute;
  background-color: var(--color-extra);
  top: -35px;
  right: -217.5px;
  z-index: 20;
  transition: 0.3s;
  color: var(--color-text);
  border-radius: var(--border-radius);
  pointer-events: none;
}
.form__advice__condition {
  position: relative;
  display: flex;
}
.form__advice__condition p {
  margin: 0;
  margin-left: 27.5px;
}
.form__advice__svg {
  left: 0;
  margin-top: -18px;
}
@media (max-width: 770px) {
  .form__advice {
    left: 0px;
    top: -130px;
  }
}
.form__placeholder {
  position: absolute;
  background-color: var(--color-block);
  padding-inline: 5px;
  top: -15px;
  left: 10px;
  font-size: 15px;
  color: var(--color-text);
  z-index: 10;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.form__button {
  font-size: 20px;
  font-weight: 600;
  width: 50%;
  color: white;
  align-self: center;
  background-color: var(--color-text);
  padding: 12.5px;
  border-radius: var(--border-radius);
  margin-top: 5px;
  transition: 0.3s;
}
.form__button:hover {
  background-color: var(--color-hover);
}
@media (max-width: 770px) {
  .form__button {
    width: 70%;
  }
}

.form-header {
  font-size: 45px;
}
@media (max-width: 480px) {
  .form-header {
    padding-left: 20px;
    font-size: 40px;
  }
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  width: 40%;
  border-radius: 0px;
}
@media (max-width: 1080px) {
  .form-wrapper {
    width: 60%;
  }
}
@media (max-width: 770px) {
  .form-wrapper {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .form-wrapper {
    width: 95%;
    margin-top: 30px;
  }
}

.show {
  right: -210px;
  opacity: 1;
}
@media (max-width: 770px) {
  .show {
    left: 0px;
    top: -145px;
  }
}

.error {
  border-bottom: 1.5px solid red;
}

.info {
  color: var(--color-text);
  margin: 0;
}

.repeat {
  margin: 3px;
  text-decoration: underline;
  align-self: center;
  cursor: pointer;
  transition: 0.3s;
}
.repeat:hover {
  color: var(--color-hover);
}

.extra {
  margin: 0;
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=Register.css.map */