@import '../../styles/mixins.scss';

.register {
    display: flex;
    justify-content: center;
    animation: appear 0.5s forwards;
    height: 100vh;

    &__already-registered {
        align-self: center;
        margin: 5px;
        color: var(--color-text);
    }

    &__log-in {
        text-decoration: underline;
        color: var(--color-text);
        transition: 0.3s;

        &:hover {
            color: var(--color-hover);
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
    padding: 25px 30px;

    &__container {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__input {
        display: flex;
        align-items: center;
        width: 100%;
        font-family: var(--font-family);
        font-size: 20px;
        font-weight: 600;
        padding: 25px 15px 15px 15px;
        outline: none;
        border: none;
        border-bottom: 1.5px solid var(--color-text);
        background-color: var(--color-background);
    }

    &__input-wrapper {
        position: relative;

        svg {
            position: absolute;
            right: 15px;
            top: 19px;
            cursor: pointer;
        }
    }

        &__eye {
            fill: var(--color-text);
        }

        &__advice {
            width: 180px;
            opacity: 0;
            display: flex;
            flex-direction: column;
            row-gap: 7.5px;
            font-size: 20px;
            padding: 13px 22.5px 13px 10px;
            position: absolute;
            background-color: var(--color-extra);
            top: -35px;
            right: -217.5px;
            z-index: 20;
            transition: 0.3s;
            color: var(--color-text);
            border-radius: var(--border-radius);
            pointer-events: none;

            &__condition {
                position: relative;
                display: flex;

                p {
                    margin: 0;
                    margin-left: 27.5px;
                }
            }

            &__svg {
                left: 0;
                margin-top: -18px;
            }

            @include mobile {
                left: 0px;
                top: -130px;
            }
        }

        &__placeholder {
            position: absolute;
            background-color: var(--color-block);
            padding-inline: 5px;
            top: -15px;
            left: 10px;
            font-size: 15px;
            color: var(--color-text);
            z-index: 10;
            user-select: none;
        }

        &__button {
            font-size: 20px;
            font-weight: 600;
            width: 50%;
            color: white;
            align-self: center;
            background-color: var(--color-text);
            padding: 12.5px;
            border-radius: var(--border-radius);
            margin-top: 5px;
            transition: 0.3s;

            &:hover {
                background-color: var(--color-hover);

                @include mobile {
                    background-color: black;
                }
            }

            &:active {
                background-color: var(--color-hover);
            }

            @include mobile {
                width: 70%;
            }
        }
}

.form-header {
    font-size: 45px;

    @include mobile-small {
        padding-left: 20px;
        font-size: 40px;
    }
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    width: 40%;
    border-radius: 0px;

    @include tablet {
        width: 60%;
    }

    @include mobile {
        width: 80%;
    }

    @include mobile-small {
        width: 95%;
        margin-top: 30px;
    }
}

.show {
    right: -210px;
    opacity: 1;

    @include mobile {
        left: 0px;
        top: -145px;
    }
}

.error {
    border-bottom: 1.5px solid red;
}

.info {
    color: var(--color-text);
    margin: 0;
}

.repeat {
    margin: 3px;
    text-decoration: underline;
    align-self: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        color: var(--color-hover);
    }
}

.extra {
    margin: 0;
    display: flex;
    justify-content: center;
}