.main {
    min-height: 100vh;
    height: auto;
    animation: appear 0.3s forwards;

    &__header {
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 20px;
        height: 50px;
        background-color: var(--color-extra);

        &__leave {
            transition: 0.2s;
            cursor: pointer;

            &:hover {
                fill: var(--color-hover);
            }
        }

        &__info {
            display: flex;
            column-gap: 30px;
            align-items: center;

            h1 {
                font-size: 40px;
            }
        }

        &__about-us {
            transition: 0.2s;
            cursor: pointer;

            &:hover {
                color: var(--color-hover);
            }
        }

        &__feedback {
            transition: 0.2s;
            cursor: pointer;

            &:hover {
                color: var(--color-hover);
            } 
        }
    }

    &__main {
        display: flex;
        justify-content: space-between;
        padding: 30px 40px;
        height: auto;
        overflow: hidden;
    }
    
    &__info {
        width: 30%;
        background-color: var(--color-extra);
        border-radius: 10px;

        &__saved {
            &__header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                button {
                    margin-top: -10px;
                    margin-right: 5px;

                    svg {
                        fill: rgb(255, 69, 28);
                    }

                    &:hover {
                        background-color: rgb(255, 69, 28);
                    }

                    &:hover svg {
                        fill: white;
                    }
                }
            }
        }

        &__profile {
            display: flex;
            justify-content: space-between;
            padding-inline: 20px;
            background-color: var(--color-extra);
            height: 70px;
            border-radius: 10px;

            svg {
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    filter: drop-shadow(0px 0px 2px gray);
                }
            }
        }

        &__greetings {
            align-self: center;
            font-size: 25px;
            font-weight: 600;
        }

        &__title {
            color: var(--color-text);
            font-size: 25px;
            margin-top: 10px;
        }

        &__saved {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            color: var(--color-text);
            padding-inline: 20px;
            padding-bottom: 20px;
        }

        &__favorite {
            position: relative;
            display: flex;
            font-size: 25px;
            min-height: 80px;
            align-items: center;
            justify-content: space-between;
            object-fit: cover;
            padding-block: 5px;
            border-radius: var(--border-radius);
            transition: 0.3s;
            cursor: pointer;
            animation: slide 0.3s forwards;

            @keyframes slide {
                from {
                    top: -10px;
                    opacity: 0;
                    transform: scale(0.9, 0.9);
                } 
                to {
                    top: 0;
                    opacity: 1;
                    transform: scale(1, 1);
                }
            }

            &:hover img {
                filter: brightness(0.2);
            }

            &__image {
                position: absolute;
                object-fit: cover;
                width: 100%;
                height: 100%;
                transition: 0.3s;
                border-radius: var(--border-radius);
                z-index: 1;
                filter: brightness(0.5);
            }

            &__title {
                position: absolute;
                z-index: 2;
                font-weight: 400;
                left: 20px;
                color: white;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        position: relative;
        width: 67.5%;
    }

    &__filters {
        position: relative;
        display: flex;
        column-gap: 5px;
        height: 60px;
        background-color: var(--color-extra);
        border-radius: var(--border-radius);
        padding-inline: 15px;
        padding-block: 10px;

        &__button {
            font-size: 20px;
            font-weight: 600;
            color: var(--color-dark-extra);
            background-color: var(--color-extra);
            border-radius: var(--border-radius);
            padding-inline: 15px;
            transition: 0.2s;
            border: 1.5px solid transparent;

            &__arrow {
                display: inline-block;
                transform: rotate(90deg);
                margin-left: 5px;
                transition: 0.3s;
            }

            &:hover {
                color: var(--color-hover);           
            }
        }

        &__cuisine {
            display: grid;
            gap: 15px;
            grid-template-columns: 1fr 1fr;
            padding: 20px 25px;
            transition: 0.3s;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            background-color: var(--color-dark);
            border-radius: 10px;
            z-index: 2;
            transform: translateY(15%);

            &__button {
                font-size: 22.5px;
                background-color: transparent;
                border-bottom: 1.5px solid var(--color-dark-extra);
                padding-bottom: 5px;
                font-weight: 600;
                transition: 0.2s;
                text-align: left;

                &:hover {
                    color: var(--color-hover);
                    border-bottom: 1.5px solid var(--color-hover);
                }
            }
        }
    }

    &__cards-container {
        position: relative;
        height: 460px;
        display: flex;
        justify-content: center;
        background-color: var(--color-extra);
        border-radius: var(--border-radius);
    }

    &__cards {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--color-block);
        width: 100%;
        height: 100%;
        position: relative;

        &__hint {
            position: absolute;
            top: 40%;
            fill: var(--color-dark-extra);
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 250px;
        height: 350px;
        color: var(--color-text);
        border-radius: var(--border-radius);
        object-fit: cover;
        margin-top: 30px;
        user-select: none;
        color: var(--color-text);
        background-color: var(--color-dark);
        cursor: grab;

        &__image {
            width: 100%;
            height: 100%;
            border-radius: var(--border-radius);
            background-color: black;
            pointer-events: none;
            object-fit: cover;
            filter: brightness(0.5);
        }

        h3 {
            font-size: 35px;
            font-weight: 600;
            position: absolute;
            bottom: -10px;
            opacity: 1;
            color: white;
            padding-left: 15px;
        }
    }

    &__swipe-buttons {
        display: flex;
        column-gap: 10px;
        margin-top: 400px;
    }

    &__swipe-button {
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1 / 1;
        border-radius: 10px;
        background-color: var(--color-dark);
        box-shadow: var(--box-shadow);
        width: 40px;
        transition: 0.3s;

        svg {
            fill: var(--color-hover);
            transition: 0.2s;
        }

        &:hover {
            background-color: var(--color-hover);
        }

        &:hover svg{
            fill: white;
        }

        &:hover .cross-line {
            background-color: white;
        }
    }
}

.unauthorized {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 10px;
    align-self: center;
    color: var(--color-text-additional);
    padding-inline: 50px;
    font-size: 25px;
    font-weight: 500;
    margin-top: 12vh;

    &__button {
        color: white;
        border-radius: var(--border-radius);
        background-color: var(--color-text);
        font-size: 20px;
        font-weight: 600;
        width: 60%;
        padding: 10px;
        transition: 0.3s;

        &:hover {
            background-color: var(--color-hover);
        }
    }
}

.logo {
    margin-left: -30px;
}

.cross-line {
    height: 4px;
    width: 25px;
    background-color: var(--color-hover);
    position: absolute;
    border-radius: var(--border-radius);
    z-index: 1;
    left: 7.5px;
    transition: 0.2s;
}

.recipe-modal {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    &__title {
        display: flex;
        align-items: center;
        column-gap: 15px;
        font-size: 30px;
        font-weight: 600;    
    }

    &__ingredients {
        list-style-type: '- ';
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        li {
            margin-left: 20px;
            font-weight: 600;
        }
    }

    hr {
        height: 2px;
        width: 100%;
        background-color: black;
        border-color: black;
        border: 1px solid black;
    }
}

#deleteRecipe {
    transition: 0.3s;

    &:hover {
        background-color: rgb(255, 69, 28);
    }

    &:hover svg {
        fill: white;
    }

    svg {
        fill: rgb(255, 69, 28);
    }
}

#swipeRight {
    right: 15%;
}

#swipeLeft {
    left: 15%;
}

#arrowRight {
    transform: rotate(180deg);
}

#fingerLeft {
    transform: rotate(180deg);
}

.active {
    color: var(--color-hover);
    border: 1.5px solid var(--color-hover);
}

.show-cuisine {
    transform: translateY(20%);
    opacity: 1;
    pointer-events: all;
}