@import '../../styles/mixins.scss';

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    animation: appear 0.3s forwards;

    &__header {
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 20px;
        height: 50px;
        background-color: var(--color-extra);
        border: 1px solid var(--color-extra);

        &__leave {
            transition: 0.2s;
            cursor: pointer;

            &:hover {
                fill: var(--color-hover);
            }
        }

        &__info {
            display: flex;
            column-gap: 30px;
            align-items: center;


            h1 {
                font-size: 40px;

                @include mobile-small {
                    font-size: 35px;
                }
            }
        }

        &__about-us {
            transition: 0.2s;
            cursor: pointer;
            color: var(--color-dark-extra);

            &:hover {
                color: var(--color-hover);
            }

            @include mobile-small {
                font-size: 17.5px;
                margin-left: -5px;
            }
        }

        @include mobile-small {
            height: 60px;
        }
    }

    &__main {
        display: flex;
        justify-content: space-between;
        padding: 30px 40px;
        height: auto;
        overflow: hidden;

        @include mobile {
            flex-direction: column;
            row-gap: 20px;
            width: 100%;
            padding: 10px 20px;
        }

        @include mobile-small {
            padding: 0;
        }
    }
    
    &__info {
        width: 31%;
        background-color: var(--color-extra);
        border-radius: 20px;
        padding-top: 12.5px;

        &__saved {
            &__header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 30px;
                margin-top: 15px;

                button {
                    margin-top: -10px;
                    margin-right: 5px;

                    svg {
                        fill: rgb(255, 69, 28);
                    }

                    &:hover {
                        background-color: rgb(255, 69, 28);
                    }

                    &:hover svg {
                        fill: white;
                    }
                }

                @include mobile {
                    height: 40px;
                }
            }
        }

        &__profile {
            display: flex;
            justify-content: space-between;
            padding-inline: 20px;
            background-color: var(--color-extra);
            height: 70px;
            border-radius: 10px;

            svg {
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    filter: drop-shadow(0px 0px 2px gray);
                }
            }
        }

        &__greetings {
            align-self: center;
            font-size: 25px;
            font-weight: 600;

            @include tablet {
                font-size: 22.5px;
            }
        }

        &__title {
            color: var(--color-text);
            font-size: 25px;
            margin-top: 15px;
            font-weight: 600;

            @include tablet {
                font-size: 22.5px;
            }

            @include mobile {
                font-size: 27.5px;
            }
        }

        &__saved {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            color: var(--color-text);
            padding-inline: 25px;
            padding-bottom: 20px;
        }

        &__favorite {
            position: relative;
            display: flex;
            font-size: 25px;
            min-height: 80px;
            align-items: center;
            justify-content: space-between;
            object-fit: cover;
            padding-block: 5px;
            border-radius: var(--border-radius);
            transition: 0.3s;
            cursor: pointer;
            animation: slide 0.3s forwards;

            @include tablet {
                font-size: 20px;
            }

            @include mobile {
                font-size: 25px;
            }

            @keyframes slide {
                from {
                    top: -10px;
                    opacity: 0;
                    transform: scale(0.9, 0.9);
                } 
                to {
                    top: 0;
                    opacity: 1;
                    transform: scale(1, 1);
                }
            }

            &:hover img {
                filter: brightness(0.2);
            }

            &__image {
                position: absolute;
                object-fit: cover;
                width: 100%;
                height: 100%;
                transition: 0.3s;
                border-radius: var(--border-radius);
                z-index: 1;
                filter: brightness(0.5);
            }

            &__title {
                position: absolute;
                z-index: 2;
                font-weight: 500;
                left: 20px;
                color: white;

                @include tablet {
                    left: 15px;
                    font-weight: 500;
                }

                @include mobile {
                    font-weight: 600;
                    left: 20px;
                }
            }
        }

        @include mobile {
            width: 100%;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        position: relative;
        width: 67.5%;

        @include mobile {
            width: 100%;
        }
    }

    &__filters {
        display: flex;
        column-gap: 5px;
        height: 60px;
        align-items: center;
        background-color: var(--color-extra);
        border-radius: var(--border-radius);
        padding-inline: 15px;
        padding-block: 10px;

        &__button {
            font-size: 22.5px;
            font-weight: 600;
            color: var(--color-dark-extra);
            background-color: var(--color-extra);
            border-radius: var(--border-radius);
            padding-inline: 15px;
            transition: 0.2s;

            @include tablet {
                font-size: 17.5px;
                padding-inline: 7.5px;
            }

            @include mobile {
                padding-inline: 2.5px;
                font-size: 20px;
            }

            @include mobile-middle {
                font-size: 17.5px;
            }

            @include mobile-small {
                font-size: 27.5px;
                text-align: left;
                padding-inline: 17.5px;
                padding-block: 7.5px;
            }

            &__arrow {
                display: inline-block;
                transform: rotate(90deg);
                margin-left: 5px;
                transition: 0.3s;
            }
        }

        &__cuisine {
            display: grid;
            grid-template-columns: 1fr 1fr;
            transition: 0.2s;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            background-color: black;
            border-radius: 5px;
            z-index: 11;
            left: -10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.451);

            &__button {
                font-size: 22.5px;
                background-color: black;
                color: white;
                padding: 7.5px 15px;
                font-weight: 500;
                transition: 0.2s;
                text-align: left;

                @include mobile {
                    font-size: 30px;
                    font-weight: 500;
                    left: 0;
                    color: black;
                    background-color: var(--color-extra);
                }

                &:hover {
                    color: white;
                    background-color: var(--color-hover);
                }
            }

            @include mobile {
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100vw;
                height: 110vh;
                position: fixed;
                display: flex;
                flex-direction: column;
                row-gap: 15px;
                background-color: var(--color-extra);
                padding-block: 30px;
                padding-inline: 25px;
            }
        }

        &__mobile {
            background-color: var(--color-extra);
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            z-index: 4;
            position: absolute;
            bottom: 60px;
            padding: 10px;
            border-radius: var(--border-radius);
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.181);
            transform: translateY(30px);
            opacity: 0;
            transition: 0.2s;
            pointer-events: none;

            button {
                pointer-events: none;
            }
        }

        @include mobile-small {
            position: fixed;
            z-index: 10;
            bottom: 0;
            width: 100%;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.067);
        }
    }

    &__cards-container {
        position: relative;
        height: 460px;
        display: flex;
        justify-content: center;
        background-color: var(--color-extra);
        border-radius: var(--border-radius);
        overflow: hidden;

        @include mobile-small {
            height: 700px;
        }
    }

    &__cards {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--color-block);
        width: 100%;
        height: 100%;
        position: relative;
        animation: appear 0.3s forwards;

        &__hint {
            position: absolute;
            top: 40%;
            fill: var(--color-dark-extra);

            @include mobile-small {
                display: none;
            }
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 250px;
        height: 400px;
        color: var(--color-text);
        border-radius: 15px;
        object-fit: cover;
        margin-top: 30px;
        user-select: none;
        color: var(--color-text);
        background-color: var(--color-dark-extra);
        cursor: grab;
        z-index: 2;
        transition: transform 0.1s ease-out;

        @include mobile-small {
            width: 340px;
            height: 640px;
            border-radius: 20px;
            margin-top: 20px;
        }

        @include mobile-web {
            height: 570px;
        }

        &__image {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            background-color: black;
            pointer-events: none;
            object-fit: cover;
            filter: brightness(0.5);

            @include mobile-small {
                border-radius: 20px;
            }
        }

        h3 {
            font-size: 35px;
            font-weight: 600;
            position: absolute;
            bottom: 30px;
            opacity: 1;
            color: white;
            padding-left: 15px;

            @include mobile-small {
                font-size: 45px;
            }
        }
    }

    &__swipe-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        column-gap: 5px;
        align-self: center;
        position: absolute;
        bottom: 15px;
        padding-inline: 15px;
    }

    &__swipe-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        aspect-ratio: 1 / 1;
        border-radius: 10px;
        background-color: var(--color-dark);
        box-shadow: var(--box-shadow);
        transition: 0.3s;

        @include mobile-small {
            width: 50px;
        }

        svg {
            fill: var(--color-hover);
            transition: 0.2s;
        }

        &:hover {
            background-color: var(--color-hover);

            @include mobile {
                background-color: var(--color-dark);
            }
        }

        &:hover svg{
            fill: white;

            @include mobile {
                fill: var(--color-hover);
            }
        }

        &:hover .cross-line {
            background-color: white;

            @include mobile {
                background-color: var(--color-hover);
            }
        }

        &:active {
            background-color: var(--color-hover);
        }

        &:active svg {
            fill: white;
        }

        &:active .cross-line {
            background-color: white;
        }

        @include mobile {
            transition: 0.1s;
        }
    }
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    background-color: var(--color-dark);
    box-shadow: var(--box-shadow);
    transition: 0.3s;

    svg {
        fill: var(--color-hover);
        transition: 0.2s;
    }

    &:hover {
        background-color: var(--color-hover);

        @include mobile {
            background-color: var(--color-dark);
        }
    }

    &:hover svg{
        fill: white;

        @include mobile {
            fill: var(--color-hover);
        }
    }

    &:hover .cross-line {
        background-color: white;

        @include mobile {
            background-color: var(--color-hover);
        }
    }

    &:active {
        background-color: var(--color-hover);
    }

    &:active svg {
        fill: white;
    }

    &:active .cross-line {
        background-color: white;
    }

    @include mobile {
        transition: 0.1s;
    }
}


.unauthorized {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 10px;
    align-self: center;
    color: var(--color-text-additional);
    padding-inline: 50px;
    font-size: 25px;
    font-weight: 500;
    margin-top: 18vh;

    &__button {
        color: white;
        border-radius: var(--border-radius);
        background-color: var(--color-text);
        font-size: 20px;
        font-weight: 600;
        width: 60%;
        padding: 10px;
        transition: 0.3s;

        &:hover {
            background-color: var(--color-hover);
        }

        @include tablet {
            width: 100%;
        }

        @include mobile {
            width: 60%;
        }
    }

    @include mobile {
        margin-top: 10vh;
        min-height: 300px;
    }
}

.logo {
    margin-left: -30px;
}

.recipe-modal {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    &__title {
        display: flex;
        align-items: center;
        column-gap: 15px;
        font-size: 30px;
        font-weight: 600; 
        
        @include mobile-small {
            font-size: 27.5px;
        }
    }

    &__ingredients {
        list-style-type: '- ';
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        li {
            margin-left: 20px;
            font-weight: 600;
        }
    }

    hr {
        height: 2px;
        width: 100%;
        background-color: black;
        border-color: black;
        border: 1px solid black;
    }
}

.loader {
    position: absolute;
    display: flex;
    column-gap: 20px;
    margin-top: 200px;

    &__dot {
        width: 20px;
        aspect-ratio: 1 / 1;
        background-color: var(--color-hover);
        border-radius: 50%;
        animation: spin 0.5s infinite;
    }

    @include mobile-small {
        margin-top: 250px;
    }
}

#deleteRecipe {
    transition: 0.3s;

    &:hover {
        background-color: rgb(255, 69, 28);
    }

    &:hover svg {
        fill: white;
    }

    svg {
        fill: rgb(255, 69, 28);
    }
}

#wipe {
    transition: 0.3s;
    &:hover {
        background-color: rgb(255, 69, 28);

        @include mobile {
            background-color: var(--color-dark);
            svg {
                fill: rgb(255, 69, 28);;
            }
        }
    }

    &:active {
        background-color: rgb(255, 69, 28);
    }

    &:active svg {
        fill: white;
    }

    @include mobile {
        transition: 0.1s;
    }
}

#swipeRight {
    right: 15%;

    @include tablet {
        right: 10%;
    }

    @include mobile {
        right: 5%;
    }
}

#swipeLeft {
    left: 15%;

    @include tablet {
        left: 10%;
    }

    @include mobile {
        left: 5%;
    }
}

#arrowRight {
    transform: rotate(180deg);
}

#fingerLeft {
    transform: rotate(180deg);
}

.active {
    color: white;
    background-color: var(--color-hover);
}

.show-cuisine {
    transform: translateY(26%);
    opacity: 1;
    pointer-events: all;

    @include mobile {
        transform: translateY(0);
    }
}

.show-mobile-filters {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;

    button {
        pointer-events: all;
    }
}

#dot-1 {
    @keyframes grow {
        0% {
            transform: translateX(0) scale(1, 1);
        }
        50% {
            transform: translateX(20px) scale(1.7, 1.7);
        }
        100% {
            transform: translateX(40px) scale(1, 1);
        }
    }
    animation: grow 0.5s infinite
}

#dot-2 {
    @keyframes slideLeft {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(-20px);
        }
        100% {
            transform: translateX(-40px);
        }
    }
    animation: slideLeft 0.5s infinite;
}

.vanish {
    @keyframes disappear {
        from {opacity: 1;}
        to {opacity: 0;}
    }
    animation: disappear 0.2s forwards;
}

.cross-line {
    height: 4px;
    width: 23px;
    background-color: var(--color-hover);
    position: absolute;
    border-radius: var(--border-radius);
    z-index: 1;
    left: 23px;
    transition: 0.2s;

    @include mobile-small {
        left: 37.5px;
    }
}

#star {
    margin-left: 0.33px;
    margin-top: -1px;
    width: 25px;
    height: 25px;

    @include mobile-small {
        width: 30px;
        height: 30px;
    }
}

#like {
    margin-top: 1px;
    width: 30px;
    height: 30px;

    @include mobile-small {
        width: 32.5px;
        height: 32.5px;
    }
}

#filters-mobile, #saved {
    display: none;
    font-size: 25px;
    padding-inline: 5px;

    @include mobile-small {
        display: block;
    }
}

#saved {
    text-decoration: none;
    margin: 0;
    align-self: center;
}

#cuisine-select, #healthy-filter, #vegetarian-filter {
    @include mobile-small {
        display: none;
    }
}

#addToFavoriteModal {
    width: 25px;
    height: 25px;
    margin-left: 0.33px;
    margin-top: -1.5px;

    @include mobile {
        width: 30px;
        height: 30px;
    }
}

#add {
    &:hover {
        background-color: var(--color-hover);
    }
}