.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  animation: appear 0.3s forwards;
}
.main__header {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  height: 50px;
  background-color: var(--color-extra);
  border: 1px solid var(--color-extra);
}
.main__header__leave {
  transition: 0.2s;
  cursor: pointer;
}
.main__header__leave:hover {
  fill: var(--color-hover);
}
.main__header__info {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
}
.main__header__info h1 {
  font-size: 40px;
}
@media (max-width: 480px) {
  .main__header__info h1 {
    font-size: 35px;
  }
}
.main__header__about-us {
  transition: 0.2s;
  cursor: pointer;
  color: var(--color-dark-extra);
}
.main__header__about-us:hover {
  color: var(--color-hover);
}
@media (max-width: 480px) {
  .main__header__about-us {
    font-size: 17.5px;
    margin-left: -5px;
  }
}
@media (max-width: 480px) {
  .main__header {
    height: 60px;
  }
}
.main__main {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  height: auto;
  overflow: hidden;
}
@media (max-width: 770px) {
  .main__main {
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    padding: 10px 20px;
  }
}
@media (max-width: 480px) {
  .main__main {
    padding: 0;
  }
}
.main__info {
  width: 30%;
  background-color: var(--color-extra);
  border-radius: var(--border-radius);
}
.main__info__saved__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__info__saved__header button {
  margin-top: -10px;
  margin-right: 5px;
}
.main__info__saved__header button svg {
  fill: rgb(255, 69, 28);
}
.main__info__saved__header button:hover {
  background-color: rgb(255, 69, 28);
}
.main__info__saved__header button:hover svg {
  fill: white;
}
.main__info__profile {
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  background-color: var(--color-extra);
  height: 70px;
  border-radius: 10px;
}
.main__info__profile svg {
  cursor: pointer;
  transition: 0.3s;
}
.main__info__profile svg:hover {
  filter: drop-shadow(0px 0px 2px gray);
}
.main__info__greetings {
  align-self: center;
  font-size: 25px;
  font-weight: 600;
}
@media (max-width: 1080px) {
  .main__info__greetings {
    font-size: 22.5px;
  }
}
.main__info__title {
  color: var(--color-text);
  font-size: 25px;
  margin-top: 10px;
}
@media (max-width: 1080px) {
  .main__info__title {
    font-size: 22.5px;
  }
}
.main__info__saved {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  color: var(--color-text);
  padding-inline: 20px;
  padding-bottom: 20px;
}
.main__info__favorite {
  position: relative;
  display: flex;
  font-size: 25px;
  min-height: 80px;
  align-items: center;
  justify-content: space-between;
  -o-object-fit: cover;
     object-fit: cover;
  padding-block: 5px;
  border-radius: var(--border-radius);
  transition: 0.3s;
  cursor: pointer;
  animation: slide 0.3s forwards;
  background-color: var(--color-dark-extra);
}
@media (max-width: 1080px) {
  .main__info__favorite {
    font-size: 20px;
  }
}
@media (max-width: 770px) {
  .main__info__favorite {
    font-size: 25px;
  }
}
@keyframes slide {
  from {
    top: -10px;
    opacity: 0;
    transform: scale(0.9, 0.9);
  }
  to {
    top: 0;
    opacity: 1;
    transform: scale(1, 1);
  }
}
.main__info__favorite:hover img {
  filter: brightness(0.2);
}
.main__info__favorite__image {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  border-radius: var(--border-radius);
  z-index: 1;
  filter: brightness(0.5);
}
.main__info__favorite__title {
  position: absolute;
  z-index: 2;
  font-weight: 500;
  left: 20px;
  color: white;
}
@media (max-width: 1080px) {
  .main__info__favorite__title {
    left: 15px;
    font-weight: 500;
  }
}
@media (max-width: 770px) {
  .main__info__favorite__title {
    font-weight: 600;
    left: 20px;
  }
}
@media (max-width: 770px) {
  .main__info {
    width: 100%;
  }
}
.main__content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: relative;
  width: 67.5%;
}
@media (max-width: 770px) {
  .main__content {
    width: 100%;
  }
}
.main__filters {
  position: relative;
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  height: 60px;
  background-color: var(--color-extra);
  border-radius: var(--border-radius);
  padding-inline: 15px;
  padding-block: 10px;
}
.main__filters__button {
  font-size: 22.5px;
  font-weight: 600;
  color: var(--color-dark-extra);
  background-color: var(--color-extra);
  border-radius: var(--border-radius);
  padding-inline: 15px;
  transition: 0.2s;
}
@media (max-width: 1080px) {
  .main__filters__button {
    font-size: 17.5px;
    padding-inline: 7.5px;
  }
}
@media (max-width: 770px) {
  .main__filters__button {
    padding-inline: 2.5px;
    font-size: 20px;
  }
}
@media (max-width: 560px) {
  .main__filters__button {
    font-size: 17.5px;
  }
}
@media (max-width: 480px) {
  .main__filters__button {
    font-size: 22px;
    text-align: left;
    padding-inline: 12.5px;
    padding-block: 7.5px;
  }
}
.main__filters__button__arrow {
  display: inline-block;
  transform: rotate(90deg);
  margin-left: 5px;
  transition: 0.3s;
}
.main__filters__cuisine {
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: 0.2s;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  background-color: black;
  border-radius: 5px;
  z-index: 11;
  left: -10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.451);
}
.main__filters__cuisine__button {
  font-size: 22.5px;
  background-color: black;
  color: white;
  padding: 7.5px 15px;
  font-weight: 500;
  transition: 0.2s;
  text-align: left;
}
@media (max-width: 480px) {
  .main__filters__cuisine__button {
    font-size: 20px;
  }
}
.main__filters__cuisine__button:hover {
  color: white;
  background-color: var(--color-hover);
}
@media (max-width: 770px) {
  .main__filters__cuisine {
    transform: translateY(-20%);
  }
}
@media (max-width: 480px) {
  .main__filters__cuisine {
    transform: translateY(50%);
    left: 20px;
    top: -400px;
  }
}
.main__filters__mobile {
  background-color: var(--color-extra);
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  z-index: 4;
  position: absolute;
  bottom: 55px;
  padding: 5px;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.083);
  transform: translateY(10px);
  opacity: 0;
  transition: 0.2s;
  pointer-events: none;
}
@media (max-width: 480px) {
  .main__filters {
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.067);
  }
}
.main__cards-container {
  position: relative;
  height: 460px;
  display: flex;
  justify-content: center;
  background-color: var(--color-extra);
  border-radius: var(--border-radius);
  overflow: hidden;
}
@media (max-width: 480px) {
  .main__cards-container {
    height: 700px;
  }
}
.main__cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-block);
  width: 100%;
  height: 100%;
  position: relative;
  animation: appear 0.3s forwards;
}
.main__cards__hint {
  position: absolute;
  top: 40%;
  fill: var(--color-dark-extra);
}
@media (max-width: 480px) {
  .main__cards__hint {
    display: none;
  }
}
.main__card {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 250px;
  height: 350px;
  color: var(--color-text);
  border-radius: var(--border-radius);
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: var(--color-text);
  background-color: var(--color-dark-extra);
  cursor: grab;
  z-index: 2;
}
@media (max-width: 480px) {
  .main__card {
    width: 340px;
    height: 560px;
    border-radius: 20px;
    margin-top: 20px;
  }
}
@media (max-height: 775px) and (max-width: 480px) {
  .main__card {
    height: 520px;
  }
}
.main__card__image {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  background-color: black;
  pointer-events: none;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.5);
}
@media (max-width: 480px) {
  .main__card__image {
    border-radius: 20px;
  }
}
.main__card h3 {
  font-size: 35px;
  font-weight: 600;
  position: absolute;
  bottom: -10px;
  opacity: 1;
  color: white;
  padding-left: 15px;
}
@media (max-width: 480px) {
  .main__card h3 {
    font-size: 45px;
  }
}
.main__swipe-buttons {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 400px;
}
@media (max-width: 480px) {
  .main__swipe-buttons {
    margin-top: 600px;
  }
}
@media (max-height: 775px) and (max-width: 480px) {
  .main__swipe-buttons {
    margin-top: 555px;
  }
}
.main__swipe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: 10px;
  background-color: var(--color-dark);
  box-shadow: var(--box-shadow);
  width: 40px;
  transition: 0.3s;
}
@media (max-width: 480px) {
  .main__swipe-button {
    width: 50px;
  }
}
.main__swipe-button svg {
  fill: var(--color-hover);
  transition: 0.2s;
}
.main__swipe-button:hover {
  background-color: var(--color-hover);
}
@media (max-width: 770px) {
  .main__swipe-button:hover {
    background-color: var(--color-dark);
  }
}
.main__swipe-button:hover svg {
  fill: white;
}
@media (max-width: 770px) {
  .main__swipe-button:hover svg {
    fill: var(--color-hover);
  }
}
.main__swipe-button:hover .cross-line {
  background-color: white;
}
@media (max-width: 770px) {
  .main__swipe-button:hover .cross-line {
    background-color: var(--color-hover);
  }
}
.main__swipe-button:active {
  background-color: var(--color-hover);
}
.main__swipe-button:active svg {
  fill: white;
}
.main__swipe-button:active .cross-line {
  background-color: white;
}
@media (max-width: 770px) {
  .main__swipe-button {
    transition: 0.1s;
  }
}

.unauthorized {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  row-gap: 10px;
  align-self: center;
  color: var(--color-text-additional);
  padding-inline: 50px;
  font-size: 25px;
  font-weight: 500;
  margin-top: 18vh;
}
.unauthorized__button {
  color: white;
  border-radius: var(--border-radius);
  background-color: var(--color-text);
  font-size: 20px;
  font-weight: 600;
  width: 60%;
  padding: 10px;
  transition: 0.3s;
}
.unauthorized__button:hover {
  background-color: var(--color-hover);
}
@media (max-width: 1080px) {
  .unauthorized__button {
    width: 100%;
  }
}
@media (max-width: 770px) {
  .unauthorized__button {
    width: 60%;
  }
}
@media (max-width: 770px) {
  .unauthorized {
    margin-top: 10vh;
    min-height: 300px;
  }
}

.logo {
  margin-left: -30px;
}

.recipe-modal {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.recipe-modal__title {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  font-size: 30px;
  font-weight: 600;
}
@media (max-width: 480px) {
  .recipe-modal__title {
    font-size: 27.5px;
  }
}
.recipe-modal__ingredients {
  list-style-type: "- ";
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.recipe-modal__ingredients li {
  margin-left: 20px;
  font-weight: 600;
}
.recipe-modal hr {
  height: 2px;
  width: 100%;
  background-color: black;
  border-color: black;
  border: 1px solid black;
}

.loader {
  position: absolute;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-top: 200px;
}
.loader__dot {
  width: 20px;
  aspect-ratio: 1/1;
  background-color: var(--color-hover);
  border-radius: 50%;
  animation: spin 0.5s infinite;
}
@media (max-width: 480px) {
  .loader {
    margin-top: 250px;
  }
}

#deleteRecipe {
  transition: 0.3s;
}
#deleteRecipe:hover {
  background-color: rgb(255, 69, 28);
}
#deleteRecipe:hover svg {
  fill: white;
}
#deleteRecipe svg {
  fill: rgb(255, 69, 28);
}

#wipe {
  transition: 0.3s;
}
#wipe:hover {
  background-color: rgb(255, 69, 28);
}
@media (max-width: 770px) {
  #wipe:hover {
    background-color: var(--color-dark);
  }
  #wipe:hover svg {
    fill: rgb(255, 69, 28);
  }
}
#wipe:active {
  background-color: rgb(255, 69, 28);
}
#wipe:active svg {
  fill: white;
}
@media (max-width: 770px) {
  #wipe {
    transition: 0.1s;
  }
}

#swipeRight {
  right: 15%;
}
@media (max-width: 1080px) {
  #swipeRight {
    right: 10%;
  }
}
@media (max-width: 770px) {
  #swipeRight {
    right: 5%;
  }
}

#swipeLeft {
  left: 15%;
}
@media (max-width: 1080px) {
  #swipeLeft {
    left: 10%;
  }
}
@media (max-width: 770px) {
  #swipeLeft {
    left: 5%;
  }
}

#arrowRight {
  transform: rotate(180deg);
}

#fingerLeft {
  transform: rotate(180deg);
}

.active {
  color: white;
  background-color: var(--color-hover);
}

.show-cuisine {
  transform: translateY(26%);
  opacity: 1;
  pointer-events: all;
}
@media (max-width: 770px) {
  .show-cuisine {
    transform: translateY(25%);
  }
}
@media (max-width: 480px) {
  .show-cuisine {
    transform: translateY(38%);
  }
}

.show-mobile-filters {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

#dot-1 {
  animation: grow 0.5s infinite;
}
@keyframes grow {
  0% {
    transform: translateX(0) scale(1, 1);
  }
  50% {
    transform: translateX(20px) scale(1.7, 1.7);
  }
  100% {
    transform: translateX(40px) scale(1, 1);
  }
}

#dot-2 {
  animation: slideLeft 0.5s infinite;
}
@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(-40px);
  }
}

.vanish {
  animation: disappear 0.2s forwards;
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.cross-line {
  height: 4px;
  width: 25px;
  background-color: var(--color-hover);
  position: absolute;
  border-radius: var(--border-radius);
  z-index: 1;
  left: 7.5px;
  transition: 0.2s;
}
@media (max-width: 480px) {
  .cross-line {
    width: 30px;
    left: 10px;
  }
}

#star {
  margin-left: 0.33px;
  margin-top: -1px;
  width: 25px;
  height: 25px;
}
@media (max-width: 480px) {
  #star {
    width: 30px;
    height: 30px;
  }
}

#like {
  margin-top: 1px;
  width: 30px;
  height: 30px;
}
@media (max-width: 480px) {
  #like {
    width: 32.5px;
    height: 32.5px;
  }
}

#filters-mobile, #saved {
  display: none;
  font-size: 22.5px;
  padding-inline: 5px;
}
@media (max-width: 480px) {
  #filters-mobile, #saved {
    display: block;
  }
}

#saved {
  text-decoration: none;
  margin: 0;
  align-self: center;
}

@media (max-width: 480px) {
  #cuisine-select, #healthy-filter, #vegetarian-filter {
    display: none;
  }
}

#addToFavoriteModal {
  width: 25px;
  height: 25px;
  margin-left: 0.33px;
  margin-top: -1.5px;
}
@media (max-width: 770px) {
  #addToFavoriteModal {
    width: 30px;
    height: 30px;
  }
}

#add:hover {
  background-color: var(--color-hover);
}/*# sourceMappingURL=Main.css.map */