@import 
'./mixins.scss',
'./variables.scss',
'./fonts.scss',
'../pages/Homepage/Homepage.scss',
'../pages/Login/Login.scss',
'../pages/Register/Register.scss',
'../pages/Main/Main.scss',
'../pages/AboutProject/AboutProject.scss',
'../components/Modal/Modal.scss';

body {
    font-family: var(--font-family);
    font-weight: 500;
    background: var(--color-background);
    margin: 0;
}

.Toastify__toast {
    font-family: var(--font-family);
    background-color: var(--color-extra);
    border-radius: var(--border-radius);
    color: var(--color-text);
    font-size: 20px;
    font-weight: 600;
}

button {
    @include resetButton();
}

* {
    box-sizing: border-box;
}


@keyframes appear {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}


