.homepage__header {
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 30px;
  color: var(--color-text);
  background-color: var(--color-block);
  border-bottom: 1px solid var(--color-border);
  animation: appear 0.5s forwards;
}
.homepage__header__title {
  font-weight: 300;
  font-size: 25px;
}
.homepage__header__auth-buttons {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.homepage__header__auth-buttons button {
  font-size: 17.5px;
  font-weight: 300;
  border-radius: var(--border-radius);
  transition: 0.3s;
  padding: 7.5px 12.5px;
  color: var(--color-text);
  background-color: var(--color-button);
  border: 1px solid var(--color-border);
}
.homepage__header__auth-buttons button:hover {
  background-color: var(--color-hover);
  box-shadow: var(--box-shadow);
}
.homepage__main {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
  color: var(--color-text);
  padding-inline: 100px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  height: 360px;
}
.homepage__main__description {
  font-size: 55px;
  font-weight: 200;
  margin-top: -15px;
}
.homepage__main__start {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-block);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 0px 50px;
  animation: appear 0.5s forwards;
  animation-delay: 0.3s;
}
.homepage__main__start-btn {
  position: relative;
  font-size: 22.5px;
  font-weight: 300;
  border-radius: var(--border-radius);
  transition: 0.3s;
  padding: 12.5px 60px 12.5px 17.5px;
  color: var(--color-text);
  background-color: rgb(27, 27, 27);
  border: 1px solid var(--color-border);
  margin-top: -20px;
}
.homepage__main__start-btn:hover svg {
  left: 115px;
}
.homepage__main__start-btn:hover {
  background-color: rgb(52, 52, 52);
  box-shadow: var(--box-shadow);
}
.homepage__main__start-btn svg {
  transition: 0.5s;
  fill: var(--color-text);
  position: absolute;
  width: 25px;
  height: 25px;
  left: 107px;
  top: 13.5px;
}
.homepage__main__pictures {
  opacity: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 300px;
  gap: 10px;
  padding: 0;
  animation: appear 0.5s forwards;
  animation-delay: 0.6s;
}
.homepage__main__pictures__picture {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius);
  filter: brightness(0.6) contrast(1.1);
  padding: 0;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.login {
  display: flex;
  justify-content: center;
  animation: appear 0.5s forwards;
}

.form__remember {
  display: flex;
  -moz-column-gap: 7.5px;
       column-gap: 7.5px;
  margin-left: 2.5px;
  cursor: pointer;
  font-size: 20px;
}
.form__remember__checkbox {
  position: relative;
  width: 25px;
  aspect-ratio: 1/1;
  border: 1px solid var(--color-text);
  box-shadow: var(--box-shadow);
  border-radius: 2.5px;
  transition: 0.2s;
}
.form__remember__checkbox svg {
  fill: var(--color-background);
  position: absolute;
  left: -3px;
  top: -3px;
}
.form__remember__text {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.form__forgot-password {
  margin: 0;
  align-self: center;
  color: var(--color-text-additional);
  text-decoration: underline;
  transition: 0.3s;
  cursor: pointer;
}
.form__forgot-password:hover {
  color: var(--color-text);
}

.active {
  background-color: var(--color-text);
  border: 1px solid var(--color-text);
}

.register {
  display: flex;
  justify-content: center;
  animation: appear 0.5s forwards;
}
.register__already-registered {
  align-self: center;
  margin: 5px;
  color: var(--color-text);
}
.register__log-in {
  text-decoration: underline;
  color: var(--color-text);
  transition: 0.3s;
}
.register__log-in:hover {
  color: var(--color-hover);
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 25px 30px;
}
.form__input {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 600;
  padding: 25px 15px 15px 15px;
  outline: none;
  border: none;
  border-bottom: 1.5px solid var(--color-text);
  background-color: var(--color-background);
}
.form__input-wrapper {
  position: relative;
}
.form__input-wrapper svg {
  position: absolute;
  right: 15px;
  top: 19px;
  cursor: pointer;
}
.form__eye {
  fill: var(--color-text);
}
.form__advice {
  opacity: 0;
  display: flex;
  flex-direction: column;
  row-gap: 7.5px;
  font-size: 20px;
  padding: 13px 22.5px 13px 10px;
  position: absolute;
  background-color: var(--color-extra);
  top: -35px;
  right: -217.5px;
  z-index: 20;
  transition: 0.3s;
  color: var(--color-text);
  border-radius: var(--border-radius);
}
.form__advice__condition {
  position: relative;
  display: flex;
}
.form__advice__condition p {
  margin: 0;
  margin-left: 27.5px;
}
.form__advice__svg {
  left: 0;
  margin-top: -18px;
}
.form__placeholder {
  position: absolute;
  background-color: var(--color-block);
  padding-inline: 5px;
  top: -15px;
  left: 10px;
  font-size: 15px;
  color: var(--color-text);
  z-index: 10;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.form__button {
  font-size: 20px;
  font-weight: 600;
  width: 50%;
  color: white;
  align-self: center;
  background-color: var(--color-text);
  padding: 12.5px;
  border-radius: var(--border-radius);
  margin-top: 5px;
  transition: 0.3s;
}
.form__button:hover {
  background-color: var(--color-hover);
}

.form-header {
  font-size: 45px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 40px;
  width: 40%;
  border-radius: 0px;
}

.show {
  right: -210px;
  opacity: 1;
}

.error {
  border-bottom: 1.5px solid red;
}

.info {
  color: var(--color-text);
  margin: 0;
}

.repeat {
  margin: 3px;
  text-decoration: underline;
  align-self: center;
  cursor: pointer;
  transition: 0.3s;
}
.repeat:hover {
  color: var(--color-hover);
}

.extra {
  margin: 0;
  display: flex;
  justify-content: center;
}

.main {
  min-height: 100vh;
  height: auto;
  animation: appear 0.3s forwards;
  padding-bottom: 30px;
}
.main__header {
  font-size: 20px;
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
  padding-inline: 20px;
  height: 50px;
  background-color: var(--color-extra);
}
.main__header h1 {
  margin: 0;
}
.main__main {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
  height: auto;
  overflow: hidden;
}
.main__info {
  width: 30%;
  background-color: var(--color-extra);
  border-radius: 10px;
}
.main__info__profile {
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  background-color: var(--color-extra);
  height: 70px;
  border-radius: 10px;
}
.main__info__profile svg {
  cursor: pointer;
  transition: 0.3s;
}
.main__info__profile svg:hover {
  filter: drop-shadow(0px 0px 2px gray);
}
.main__info__greetings {
  align-self: center;
  font-size: 25px;
  font-weight: 600;
}
.main__info__title {
  color: var(--color-text);
  font-size: 25px;
  margin-top: 10px;
}
.main__info__saved {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  color: var(--color-text);
  padding-inline: 20px;
  padding-bottom: 20px;
}
.main__info__favorite {
  position: relative;
  display: flex;
  font-size: 25px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-dark);
  padding-inline: 15px;
  padding-block: 5px;
  border-radius: var(--border-radius);
  transition: 0.3s;
  cursor: pointer;
  animation: slide 0.3s forwards;
}
@keyframes slide {
  from {
    top: -10px;
    opacity: 0;
    transform: scale(0.9, 0.9);
  }
  to {
    top: 0;
    opacity: 1;
    transform: scale(1, 1);
  }
}
.main__info__favorite:hover {
  background-color: var(--color-dark-extra);
}
.main__info__favorite__image {
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.134);
}
.main__cards-container {
  width: 65%;
  height: 460px;
  display: flex;
  justify-content: center;
  background-color: var(--color-extra);
  border-radius: var(--border-radius);
}
.main__cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-block);
  width: 100%;
  height: 100%;
  position: relative;
}
.main__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  width: 250px;
  height: 350px;
  background-image: url("/src/assets/onigiri.jpg");
  color: var(--color-text);
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: white;
  cursor: grab;
  box-shadow: inset 0px 0px 100px black;
}
.main__card__backdrop {
  background-color: rgb(0, 0, 0);
  filter: sepia(100%);
  width: 100%;
  height: 100%;
  opacity: 0.3;
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 100px black;
}
.main__card h3 {
  font-size: 40px;
  text-align: center;
  position: absolute;
  opacity: 1;
}
.main__card__image {
  border-radius: var(--border-radius);
  width: 90%;
  aspect-ratio: 1/1;
  background-color: var(--color-text);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.main__swipe-buttons {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 400px;
}
.main__swipe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: 10px;
  background-color: var(--color-dark);
  box-shadow: var(--box-shadow);
  width: 40px;
  transition: 0.3s;
}
.main__swipe-button svg {
  fill: var(--color-hover);
  transition: 0.2s;
}
.main__swipe-button:hover {
  background-color: var(--color-hover);
}
.main__swipe-button:hover svg {
  fill: white;
}
.main__swipe-button:hover .cross-line {
  background-color: white;
}

.unauthorized {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  row-gap: 10px;
  align-self: center;
  color: var(--color-text-additional);
  padding-inline: 50px;
  font-size: 25px;
  font-weight: 500;
  margin-top: 27.5vh;
}
.unauthorized__button {
  color: white;
  border-radius: var(--border-radius);
  background-color: var(--color-text);
  font-size: 20px;
  width: 60%;
  padding: 10px;
  transition: 0.3s;
}
.unauthorized__button:hover {
  background-color: var(--color-hover);
}

.cross-line {
  height: 4px;
  width: 25px;
  background-color: var(--color-hover);
  position: absolute;
  border-radius: var(--border-radius);
  z-index: 1;
  left: 7.5px;
  transition: 0.2s;
}

.recipe-modal {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.recipe-modal__title {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  font-size: 30px;
  font-weight: 600;
}

#deleteRecipe {
  transition: 0.3s;
}
#deleteRecipe:hover {
  background-color: rgb(255, 69, 28);
}
#deleteRecipe:hover svg {
  fill: white;
}
#deleteRecipe svg {
  fill: rgb(255, 69, 28);
}

.backdrop {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.856);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s;
  border: transparent;
  z-index: 9999;
}

.modal {
  width: 500px;
  height: 400px;
  padding: 25px 30px;
  background-color: var(--color-background);
  border: 1.5px solid var(--color-text);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  transition: 0.3s;
  position: relative;
  color: var(--color-text);
  font-size: 25px;
  transform: scale(0.9, 0.9);
  overflow: auto;
}
.modal__close-button {
  background: transparent;
  position: relative;
  right: 0;
}
.modal__close-button span {
  position: absolute;
  width: 17.5px;
  height: 3px;
  background-color: var(--color-text);
  border-radius: var(--border-radius);
}

.button-wrapper {
  position: absolute;
  right: 30px;
  top: 0;
}

#line-1 {
  transform: rotate(45deg);
}

#line-2 {
  transform: rotate(-45deg);
}

.active {
  opacity: 1;
  pointer-events: all;
  transform: scale(1, 1);
}

:root {
  --font-family: "Advent";
  --color-background: rgb(241, 240, 232);
  --color-extra: rgb(224, 222, 207);
  --color-dark-extra: rgb(137, 134, 111);
  --color-dark: rgb(188, 184, 159);
  --color-hover: rgb(31, 72, 255);
  --color-text: black;
  --border-radius: 10px;
  --box-shadow: none;
}

@font-face {
  font-family: "Advent";
  src: url("../assets/AdventPro-VariableFont_wdth.ttf");
}
body {
  font-family: var(--font-family);
  font-weight: 500;
  background: var(--color-background);
  margin: 0;
}

.Toastify__toast {
  font-family: var(--font-family);
  background-color: var(--color-extra);
  border-radius: var(--border-radius);
  color: var(--color-text);
  font-size: 20px;
  font-weight: 600;
}

button {
  border: none;
  background-color: var(--color-background);
  font-family: var(--font-family);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

* {
  box-sizing: border-box;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=App.css.map */