.backdrop {
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.856);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
    border: transparent;
    z-index: 9999;
}

.modal {
    width: 500px;
    height: 400px;
    padding: 25px 30px;
    background-color: var(--color-background);
    border: 1.5px solid var(--color-text);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    transition: 0.3s;
    position: relative;
    color: var(--color-text);
    font-size: 25px;
    transform: scale(0.9, 0.9);
    overflow: auto;

    &__close-button {
        background: transparent;
        position: relative;
        right: 0;

        span {
            position: absolute;
            width: 17.5px;
            height: 3px;
            background-color: var(--color-text);
            border-radius: var(--border-radius);
        }
    }
}

.button-wrapper {
    position: absolute;
    right: 30px;
    top: 0;
}

#line-1 {
    transform: rotate(45deg);
}

#line-2 {
    transform: rotate(-45deg);
}

.active {
    opacity: 1;
    pointer-events: all;
    transform: scale(1, 1);
}