@import '../../styles/mixins.scss';

.backdrop {
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.856);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
    border: transparent;
    z-index: 9999;
    overflow: visible;
}

.modal {
    width: 500px;
    height: 400px;
    padding: 25px 30px;
    padding-bottom: 100px;
    background-color: var(--color-background);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    transition: 0.3s;
    position: relative;
    color: var(--color-text);
    font-size: 25px;
    transform: scale(0.9, 0.9);
    overflow: scroll;

    @include mobile {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }

    @include mobile-small {
        font-size: 25px;
    }

    &__close-button {
        background: transparent;
        position: relative;
        right: 0;

        span {
            position: absolute;
            width: 17.5px;
            height: 3px;
            background-color: var(--color-text);
            border-radius: var(--border-radius);
        }
    }

    &__footer {
        display: flex;
        position: fixed;
        bottom: 0;
        height: 70px;
        width: 110%;
        left: -20px;
        background-color: var(--color-background);

        &__button {
            width: 100%;
            font-size: 25px;
            font-weight: 600;
            transition: 0.1s;
            color: white;
        }
    }
}

.modal-wrapper {
    position: relative;
}

#add, #deleteRecipe {
    background-color: var(--color-extra);
    position: absolute;
    border-radius: 7.5px;
    left: -47.5px;
    top: 5px;

    @include mobile {
        top: 505px;
        left: 0;
    }

    @include mobile-small {
        left: 0;
    }
}

.button-wrapper {
    position: absolute;
    right: 30px;
    top: 0;
}

#line-1 {
    transform: rotate(45deg);
}

#line-2 {
    transform: rotate(-45deg);
}

.active {
    opacity: 1;
    pointer-events: all;
    transform: scale(1, 1);
}

#deleteDish {
    background-color: rgb(255, 69, 28);
    padding-left: 20px;
}

#saveDish {
    background-color: var(--color-hover);
    padding-left: 20px;
}

#closeDish {
    padding-right: 20px;
    background-color: black;
}