.homepage {
    &__header {
        opacity: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3px 30px;
        color: var(--color-text);
        background-color: var(--color-block);
        border-bottom: 1px solid var(--color-border);
        animation: appear 0.5s forwards;

        &__title {
            font-weight: 300;
            font-size: 25px;
        }

        &__auth-buttons {
            display: flex;
            column-gap: 5px;
            
            button {
                font-size: 17.5px;
                font-weight: 300;
                border-radius: var(--border-radius);
                transition: 0.3s;
                padding: 7.5px 12.5px;
                color: var(--color-text);
                background-color: var(--color-button);
                border: 1px solid var(--color-border);

                &:hover {
                    background-color: var(--color-hover);
                    box-shadow: var(--box-shadow);
                }
            }
        }
    }

    &__main {
        display: flex;
        margin-top: 80px;
        justify-content: space-between;
        color: var(--color-text);
        padding-inline: 100px;
        column-gap: 40px;
        height: 360px;

        &__description {
            font-size: 55px;
            font-weight: 200;
            margin-top: -15px;
        }

        &__start {
            opacity: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: var(--color-block);
            border: 1px solid var(--color-border);
            border-radius: var(--border-radius);
            padding: 0px 50px;
            animation: appear 0.5s forwards;
            animation-delay: 0.3s;
        }

        &__start-btn {
            position: relative;
            font-size: 22.5px;
            font-weight: 300;
            border-radius: var(--border-radius);
            transition: 0.3s;
            padding: 12.5px 60px 12.5px 17.5px;
            color: var(--color-text);
            background-color: rgb(27, 27, 27);
            border: 1px solid var(--color-border);
            margin-top: -20px;

            &:hover svg {
                left: 115px;
            }

            &:hover {
                background-color: rgb(52, 52, 52);
                box-shadow: var(--box-shadow);
            }

            svg {
                transition: 0.5s;
                fill: var(--color-text);
                position: absolute;
                width: 25px;
                height: 25px;
                left: 107px;
                top: 13.5px;
            }
        }

        &__pictures {
            opacity: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 300px;
            gap: 10px;
            padding: 0;
            animation: appear 0.5s forwards;
            animation-delay: 0.6s;

            &__picture {
                aspect-ratio: 1 / 1;
                object-fit: cover;
                border-radius: var(--border-radius);
                filter: brightness(0.6) contrast(1.1);
                padding: 0;
            }
        }
    }
}

@keyframes appear {
    from { opacity: 0; } to { opacity: 1; }
}